<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie Recommendation System</title>
      <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
<body class="bg-black">
<header class="text-gray-900 body-font -my-8 h-32 " >
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center " style="margin-top:-50px"  >
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0 mt-3">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-red-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <a href="/"><span class="ml-3 text-xl text-white mt-0">TOMATO</span></a>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center mt-0">
      <a href="/" class="mr-5 hover:text-gray-900 text-white">Home</a>
      <a href="/about"  class="mr-5 hover:text-gray-900 text-white">About</a>
      <a href="/contact"  class="mr-5 hover:text-gray-900 text-white">Contact Us</a>
      <a href="/recommendation"  class="mr-5 hover:text-gray-900 text-white">Recommendation</a>
    </nav>

  </div>
    </header>

      <section class="text-gray-600 body-font bg-black  " style="margin-top:60px; ">
  <div class="container px-5 py-24 " >
    <h1 class="text-lg text-white font-medium title-font " style="margin-top:-90px; ">Recommended Movies are:</h1>
    </div>


        </section>



 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>